.app {
    width: fit-content;
    height: 100vh;
    padding: 20px;
}

.info {
    position: fixed;
    bottom: 0;
    left: 20px;
    z-index: 20;
}

.loading {
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 20;
}
