.storyline {
    width: 100%;
    height: 100%;
}

.column {
    position: relative;
    width: 48px;
}

.tick {
    flex: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 48px;
    height: 60px;
}

.year {
    margin-bottom: 4px;
}

.month {
    margin-bottom: 6px;
}

.year,
.fixedYear {
    opacity: 0.9;
    font-size: 0.8em;
}

.fixedMonth,
.fixedYear {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    background: rgba(232, 232, 232, 0.8);
    padding: 1px 4px;
}

.fixedYear {
    top: 17px;
}

.fixedMonth {
    top: 36px;
}
