.storyline {
    display: flex;
    flex-direction: column;
    height: 100%;
    user-select: none;
}

/* Timeline */
.timeline {
    flex: none;
    display: flex;
}

.timelineTick {
    flex: none;
    display: inline-block;
    width: 48px;
}

.timelineYear {
    opacity: 0.3;
    font-size: 0.8em;
}

/* posts */
.columns {
    position: relative;
    flex: 1;
    display: flex;
    margin: 4px 0 60px 0;
}

.column {
    flex: none;
    width: 48px;
}

.post {
    position: absolute;
    cursor: pointer;
    font-size: 24px;
    border-radius: 100%;
    transition: 0.25s transform ease-in-out;
}

.post:hover,
.post:focus,
.selected {
    transform: scale(2);
    z-index: 10;
}

.post:focus,
.selected {
    outline: none;
    border: 1px solid gray;
}
